.vs/RangordnaCVs.slnx/FileContentIndex/21bbec39-0a61-45ef-b811-0c327665656f.vsidx
.vs/RangordnaCVs.slnx/v18/.suo
.vs/RangordnaCVs.slnx/v18/DocumentLayout.backup.json
.vs/RangordnaCVs.slnx/v18/DocumentLayout.json
bin/Debug/Arbetsbeskrivning.txt
bin/Debug/CV/AFRY_CV_Anna-Sara_Nilsson_20251112.pdf
bin/Debug/CV/AFRY_CV_Jerker_Wallström_20251103.pdf
bin/Debug/CV/AFRY_CV_Joakim_Wolgers_20251112.pdf
bin/Debug/CV/AFRY_CV_Mattias_Blom_20251113.pdf
bin/Debug/NyckelOrd.txt
bin/Debug/RangordnaCV.exe
bin/Debug/RangordnaCVs.exe
bin/Debug/RangordnaCVs.exe.config
bin/Debug/RangordnaCVs.pdb
bin/Debug/test.docx
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/RangordnaCVs.csproj.AssemblyReference.cache
obj/Debug/RangordnaCVs.csproj.CoreCompileInputs.cache
obj/Debug/RangordnaCVs.csproj.FileListAbsolute.txt
obj/Debug/RangordnaCVs.csproj.GenerateResource.cache
obj/Debug/RangordnaCVs.exe
obj/Debug/RangordnaCVs.Form1.resources
obj/Debug/RangordnaCVs.pdb
obj/Debug/RangordnaCVs.Properties.Resources.resources
