.vs/RangordnaCVs.slnx/FileContentIndex/21bbec39-0a61-45ef-b811-0c327665656f.vsidx
.vs/RangordnaCVs.slnx/v18/.suo
.vs/RangordnaCVs.slnx/v18/DocumentLayout.backup.json
.vs/RangordnaCVs.slnx/v18/DocumentLayout.json
bin/Debug/Arbetsbeskrivning.txt
bin/Debug/CV/AFRY_CV_Anna-Sara_Nilsson_20251112.pdf
bin/Debug/CV/AFRY_CV_Jerker_Wallström_20251103.pdf
bin/Debug/CV/AFRY_CV_Joakim_Wolgers_20251112.pdf
bin/Debug/CV/AFRY_CV_Mattias_Blom_20251113.pdf
bin/Debug/NyckelOrd.txt
bin/Debug/RangordnaCV.exe
bin/Debug/RangordnaCVs.exe
bin/Debug/RangordnaCVs.exe.config
bin/Debug/RangordnaCVs.pdb
bin/Debug/test.docx
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/RangordnaCVs.csproj.AssemblyReference.cache
obj/Debug/RangordnaCVs.csproj.CoreCompileInputs.cache
obj/Debug/RangordnaCVs.csproj.FileListAbsolute.txt
obj/Debug/RangordnaCVs.csproj.GenerateResource.cache
obj/Debug/RangordnaCVs.exe
obj/Debug/RangordnaCVs.Form1.resources
obj/Debug/RangordnaCVs.pdb
obj/Debug/RangordnaCVs.Properties.Resources.resources
*.bak
.vs/RangordnaCVs.slnx/DesignTimeBuild/.dtbcache.v2
.vs/RangordnaCVs.slnx/FileContentIndex/31153058-0bcc-4bf9-83e8-853305c425da.vsidx
.vs/RangordnaCVs.slnx/FileContentIndex/cd43529e-f004-46bc-a05e-104bbf65b458.vsidx
bin/Debug/net10.0-windows/RangordnaCVs.deps.json
bin/Debug/net10.0-windows/RangordnaCVs.dll
bin/Debug/net10.0-windows/RangordnaCVs.dll.config
bin/Debug/net10.0-windows/RangordnaCVs.exe
bin/Debug/net10.0-windows/RangordnaCVs.pdb
bin/Debug/net10.0-windows/RangordnaCVs.runtimeconfig.json
.vs/RangordnaCVs.slnx/FileContentIndex/0b2dd75f-47f5-4788-aedb-99781d030b49.vsidx
