.vs/RangordnaCVs.slnx/FileContentIndex/21bbec39-0a61-45ef-b811-0c327665656f.vsidx
.vs/RangordnaCVs.slnx/v18/.suo
.vs/RangordnaCVs.slnx/v18/DocumentLayout.backup.json
.vs/RangordnaCVs.slnx/v18/DocumentLayout.json
bin/Debug/Arbetsbeskrivning.txt
bin/Debug/CV/AFRY_CV_Anna-Sara_Nilsson_20251112.pdf
bin/Debug/CV/AFRY_CV_Jerker_Wallström_20251103.pdf
bin/Debug/CV/AFRY_CV_Joakim_Wolgers_20251112.pdf
bin/Debug/CV/AFRY_CV_Mattias_Blom_20251113.pdf
bin/Debug/NyckelOrd.txt
bin/Debug/RangordnaCV.exe
bin/Debug/RangordnaCVs.exe
bin/Debug/RangordnaCVs.exe.config
bin/Debug/RangordnaCVs.pdb
bin/Debug/test.docx
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/RangordnaCVs.csproj.AssemblyReference.cache
obj/Debug/RangordnaCVs.csproj.CoreCompileInputs.cache
obj/Debug/RangordnaCVs.csproj.FileListAbsolute.txt
obj/Debug/RangordnaCVs.csproj.GenerateResource.cache
obj/Debug/RangordnaCVs.exe
obj/Debug/RangordnaCVs.Form1.resources
obj/Debug/RangordnaCVs.pdb
obj/Debug/RangordnaCVs.Properties.Resources.resources
*.bak
.vs/RangordnaCVs.slnx/DesignTimeBuild/.dtbcache.v2
.vs/RangordnaCVs.slnx/FileContentIndex/31153058-0bcc-4bf9-83e8-853305c425da.vsidx
.vs/RangordnaCVs.slnx/FileContentIndex/cd43529e-f004-46bc-a05e-104bbf65b458.vsidx
bin/Debug/net10.0-windows/RangordnaCVs.deps.json
bin/Debug/net10.0-windows/RangordnaCVs.dll
bin/Debug/net10.0-windows/RangordnaCVs.dll.config
bin/Debug/net10.0-windows/RangordnaCVs.exe
bin/Debug/net10.0-windows/RangordnaCVs.pdb
bin/Debug/net10.0-windows/RangordnaCVs.runtimeconfig.json
.vs/RangordnaCVs.slnx/FileContentIndex/0b2dd75f-47f5-4788-aedb-99781d030b49.vsidx
.vs/RangordnaCVs.slnx/FileContentIndex/195d4693-f667-4bc1-8f41-77c4c2438e4d.vsidx
obj/Debug/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0-windows/apphost.exe
obj/Debug/net10.0-windows/RangordnaCVs.AssemblyInfo.cs
obj/Debug/net10.0-windows/RangordnaCVs.AssemblyInfoInputs.cache
obj/Debug/net10.0-windows/RangordnaCVs.assets.cache
obj/Debug/net10.0-windows/RangordnaCVs.csproj.BuildWithSkipAnalyzers
obj/Debug/net10.0-windows/RangordnaCVs.csproj.CoreCompileInputs.cache
obj/Debug/net10.0-windows/RangordnaCVs.csproj.FileListAbsolute.txt
obj/Debug/net10.0-windows/RangordnaCVs.csproj.GenerateResource.cache
obj/Debug/net10.0-windows/RangordnaCVs.designer.deps.json
obj/Debug/net10.0-windows/RangordnaCVs.designer.runtimeconfig.json
obj/Debug/net10.0-windows/RangordnaCVs.dll
obj/Debug/net10.0-windows/RangordnaCVs.Form1.resources
obj/Debug/net10.0-windows/RangordnaCVs.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0-windows/RangordnaCVs.genruntimeconfig.cache
obj/Debug/net10.0-windows/RangordnaCVs.GlobalUsings.g.cs
obj/Debug/net10.0-windows/RangordnaCVs.pdb
obj/Debug/net10.0-windows/RangordnaCVs.Properties.Resources.resources
obj/Debug/net10.0-windows/RangordnaCVs.sourcelink.json
obj/Debug/net10.0-windows/ref/RangordnaCVs.dll
obj/Debug/net10.0-windows/refint/RangordnaCVs.dll
obj/project.assets.json
obj/project.nuget.cache
obj/RangordnaCVs.csproj.nuget.dgspec.json
obj/RangordnaCVs.csproj.nuget.g.props
obj/RangordnaCVs.csproj.nuget.g.targets
.vs/RangordnaCVs.slnx/FileContentIndex/6b36dabd-d3ee-4f1e-a292-e4b74e26f2a3.vsidx
.vs/RangordnaCVs.slnx/FileContentIndex/cf41b3f1-18ac-40fe-b866-28a4f94786a2.vsidx
.vs/RangordnaCVs.slnx/FileContentIndex/abcd399b-2c23-4ace-8608-4ba3dd97997d.vsidx
*.vsidx
.vs/RangordnaCVs.slnx/copilot-chat/2cf23b85/sessions/75593fe1-470b-49b2-a659-de7acb50cff9
.vs/RangordnaCVs.slnx/v18/.futdcache.v2
.vs/RangordnaCVs/CopilotIndices/18.0.925.419/CodeChunks.db
.vs/RangordnaCVs/CopilotIndices/18.0.925.419/CodeChunks.db-shm
.vs/RangordnaCVs/CopilotIndices/18.0.925.419/CodeChunks.db-wal
.vs/RangordnaCVs/CopilotIndices/18.0.925.419/SemanticSymbols.db
.vs/RangordnaCVs/CopilotIndices/18.0.925.419/SemanticSymbols.db-shm
.vs/RangordnaCVs/CopilotIndices/18.0.925.419/SemanticSymbols.db-wal
*.pyc
Python/build/RangordnaCV/Analysis-00.toc
Python/build/RangordnaCV/base_library.zip
Python/build/RangordnaCV/EXE-00.toc
Python/build/RangordnaCV/PKG-00.toc
Python/build/RangordnaCV/PYZ-00.pyz
Python/build/RangordnaCV/PYZ-00.toc
Python/build/RangordnaCV/RangordnaCV.pkg
Python/build/RangordnaCV/warn-RangordnaCV.txt
Python/build/RangordnaCV/xref-RangordnaCV.html
Python/dist/RangordnaCV.exe
Python/RangordnaCV_log.docx
obj/Debug/net10.0-windows/RangordnaCVs.Dialogs.EditDescForm.resources
Python/RangordnaCV.spec
